ul {
  list-style-type: none;

  margin: 0;
  padding: 0;
  background-color: black;
  display: flex;
  font:bold;
  justify-content: center;
}


ul li {
  float:none;
}

ul li  {
    
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li:hover {
  background-color: #111111;
  cursor: pointer;
}